<section>
    <div class="grid-container">
        <div class="gridheader">
            <h2>Christian Barnbæk Jensen, Datamatiker</h2><b>
                <p>barnbaek1@hotmail.com | mobil 20 82 32 52 | Hjørring,DK
                </p>
            </b>
        </div>

        <div class="datamatiker">
            <h3>Uddannelse: Datamatiker</h3>
        </div>

        <div class="datamatikercontent"><strong>1. semester</strong>
            <ul>
                <li>
                    Udvikling af et salgs system med Java og et tekst baseret interface. Anvendt Unified process (UP)
                    som udviklingsværtøj.
                </li>
            </ul>
            <strong>2. semester</strong>
            <ul>
                <li>
                    Salgssystem med Java og tilkobling til en database. Anvendt Swing til udvikling af interface og
                    brugt Github som versionsstyring.
                </li>
            </ul>
            <strong>3. semester</strong>
            <ul>
                <li>
                    Distribuerede system med C#, hjemmeside og desktop applikation. Brugt MSSQL til database, Scrum som
                    udviklingsværtøj og Github til versionsstyring.
                </li>
            </ul>
            <strong>4. semester</strong>
            <ul>
                <li>
                    Case med Telenor som partner i et IoT tracking af høj mobilitet projekt. Anvendelse af Raspberry og
                    Arduino til implenmentationer til interaktion med Node webserver. Brug af React til frontend og
                    Scrum som udviklingsværtøj.
                </li>
            </ul>
            <strong>Praktik</strong>
            <ul>
                <li>
                    Praktik hos Podi i Brønderslev som Webudvikler. Jeg var en del af Henrik Thomsens dygtige team og
                    har fået en masse erfaring og oplevelser i de 10 uger hos ham. (Ved hæfter min udtagelse med fra
                    Henrik Thomsen).
                </li>
            </ul>
            <strong>5. semester</strong>
            <ul>
                <li>
                    Case med Logimatic om at lave et Dashboard med fokus på hovedsageligt nøgletal for at skabe overblik
                    til deres kunder. Laves med HTML, CSS, MVC Pattern og Javascript.
                </li>
            </ul>
        </div>

        <div class="skills">
            <h3>Færdigheder og kendskab</h3>
        </div>

        <div class="skillscontent">
            <ul>
                <li><strong>C#</strong></li>
                <li><strong>Java</strong></li>
                <li><strong>.NET</strong></li>
                <li><strong>MSSQL</strong></li>
                <li><strong>HTML/CSS</strong></li>
                <li><strong>MVC</strong></li>
                <li><strong>Scrum</strong></li>
                <li><strong>Wordpress</strong></li>
                <li><strong>Oxygen builder</strong></li>
                <li><strong>JavaScript</strong></li>
                <li><strong>Angular</strong></li>
            </ul>
        </div>



        <div class="erfaring">
            <h3>Erfaringer</h3>
        </div>

        <div class="erfaringcontent">
            <ul>
                <li><strong>Avisbud Nordjyske 2009-2012</strong></li>
                <li><strong>Fakta kassemedarbejder 2012-2014</strong></li>
                <li><strong>Georg Jensen vikar og fast ansat 2016-2018</strong></li>
            </ul>
        </div>

        <div class="erhvervskompetencer">
            <h3>Erhvervskompetencer</h3>
        </div>

        <div class="erhvervskompetencercontent">
            <ul>
                <li>
                    Mine erhvervskompetencer er kommet fra min tid som medarbejder i Fakta og ansat hos Georg Jensen i
                    Hjørring. Igennem mit arbejde har jeg lært at begå mig på en arbejdsplads samt at kunne tilpasse mig
                    mere end en opgave af gangen. Jeg er fleksibel og er ikke bange for at bruge min fritid på nye og
                    spændende projekter.
                    På det personlige plan har jeg spillet fodbold i 13 år, styrketrænet og altid været aktiv socialt.
                    Jeg er som sagt færdig uddannet datamatiker og søger hermed nye udfordringer.
                </li>
            </ul>
        </div>

        <div class="sprog">
            <h3>Sprog</h3>
        </div>

        <div class="sprogcontent">
            <ul>
                <li><strong>Dansk - flydende</strong></li>
                <li><strong>Engelsk - flydende</strong></li>
                <li><strong>Tysk - forståelse/middel</strong></li>
            </ul>
        </div>

        <div class="personlig">
            <h3>Personlige kvalifikationer</h3>
        </div>

        <div class="personligcontent">
            <ul>
                <li>
                    Imødekommende, aktiv, positiv, ambitiøs, serviceminded, disciplineret, social.
                    Loyal, tålmodig, engageret, fleksibel, lærenem, nysgerrig, har viljen til at give 110% og viljen til
                    at lære nye ting, Ikke bange for at bruge tid uden for arbejdstiden til lektier/arbejde.
                    Jeg håber der er muligheder for at kunne øve/træne sine færdigheder, om det er på en platform,
                    kurser eller andre former. Vægter højt at jeg kan videre udvikle mig i forhold til jobbet og
                    forbedre mig fra dag til dag. Det handler ikke om hvor man starter, men om udviklingen fra A til B.
                </li>
            </ul>
        </div>

        <div class="login col-lg-4 m-auto">
            <h4>Kontakt mig gerne</h4>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputMessage1" class="form-label">Message</label>
                    <input type="message" class="form-control" id="exampleInputMessage1">
                </div>
                <button type="submit" class="btn btn-primary col-lg-12">Submit</button>
            </form>
            <div class="social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
        </div>

       

   
    </div>
    <hr>

</section>